.productPicture {
}

.placeholder {
  display: inline-block;
  background-color: #062c33;
  color: #ffffff;
  text-align: center;
  vertical-align: middle;
}

.productPicture,
.placeholder {
  width: 32px;
  height: 32px;
  vertical-align: middle;
}
